<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="media">
      <a class="media-left" href="#">
        <img src="<%= friendbox[:photo] %>">
      </a>
      <div class="media-body">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="media-heading"><%= friendbox[:name] %></h1>
          </div>
          <div class="col-xs-12">
              <span>If they live in this County, City, State, they are probably a match.</span>        
          </div>
          <div class="col-xs-4">
            <h4>County</h4>
            <p><%= friendbox[:county] %></p>
          </div>
          <div class="col-xs-4">
            <h4>City, State, Zip</h4>
            <p><%= friendbox[:city] %></p>
          </div>
          <div class="col-xs-4">
            <h4>Official Reason for Rejection</h4>
            <p><%= friendbox[:reason] %></p>
            <p><a href="https://www.facebook.com/search/str/<%= friendbox[:name] %>/users-named/109564342404151/residents-near/present/intersect" class="btn btn-primary" role="button" target="_blank">Message Them</a></p>    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
